extends ../layout
block content
	link(rel="stylesheet" href="/styles/stars.css")
	h1.my-3= campground.title
	.row.mt-3.gx-5
		.col-md-6
			h2 #{campground.location.city}, #{campground.location.state}
			//- img(src=`${campground.image}`, alt="image of a campground").mw-100
			#carouselExampleControls.carousel.slide(data-bs-ride='carousel')
				.carousel-inner
					each img, i in campground.images
						//- add 'active' class only on the first iteration
						div.carousel-item(class=i === 0 ? 'active' : '')
							img.d-block.w-100(src=`${img.url}` alt='')
					//- only show controls if there are multiple images
					if campground.images.length > 1
						button.carousel-control-prev(type='button' data-bs-target='#carouselExampleControls' data-bs-slide='prev')
							span.carousel-control-prev-icon(aria-hidden='true')
							span.visually-hidden Previous
						button.carousel-control-next(type='button' data-bs-target='#carouselExampleControls' data-bs-slide='next')
							span.carousel-control-next-icon(aria-hidden='true')
							span.visually-hidden Next
			p Price: $#{campground.price} per night
			p #{campground.description}
			p Submitted by #{campground.author.username}
			if currentUser && campground.author.equals(currentUser._id)
				div
					a(role="button" href=`/campgrounds/${campground._id}/edit`).btn.btn-primary  Edit
					form(action=`/campgrounds/${campground._id}?_method=DELETE` method="POST")
						button(type="submit").btn.btn-danger.mt-2 Delete
		.col-md-6
			h2 Reviews
			.reviews
				if !campground.review
					p No reviews
				each review in campground.reviews
					div.review.card.my-3
						.card-body.row
							.review-content.col-10
								//- TODO Replace these trash stars with something custom
								p(class="starability-result" data-rating=review.rating ) Rated: #{review.rating}
								p #{review.body}
								if review.author
									p.fw-light.fst-italic #{review.author.username}
							if currentUser && review.author.equals(currentUser._id)
								.delete.col-2.d-flex.flex-column.justify-content-center
										form(action=`/campgrounds/${campground._id}/reviews/${review._id}?_method=DELETE` method="POST")
											button(type="submit").btn.btn-danger.btn-sm Delete
			if currentUser
				.new-review-form.card
					.card-body
						h5 Share your experience at #{campground.title}
						form(action=`/campgrounds/${campground._id}/reviews` method="POST" novalidate).needs-validation
							.col-sm-4
								fieldset.starability-grow
									input#no-rate.input-no-rate(type='radio' name='review[rating]' value='1' checked='' aria-label='No rating.')
									input#first-rate1(type='radio' name='review[rating]' value='1')
									label(for='first-rate1' title='Terrible') 1 star
									input#first-rate2(type='radio' name='review[rating]' value='2')
									label(for='first-rate2' title='Not good') 2 stars
									input#first-rate3(type='radio' name='review[rating]' value='3')
									label(for='first-rate3' title='Average') 3 stars
									input#first-rate4(type='radio' name='review[rating]' value='4')
									label(for='first-rate4' title='Very good') 4 stars
									input#first-rate5(type='radio' name='review[rating]' value='5')
									label(for='first-rate5' title='Amazing') 5 stars
							label(for="review-body").form-label Review
							textarea(name="review[body]" cols="30" rows="4" id="review-body" required).form-control.mb-3
							button(type="submit").btn.btn-success Submit
block scripts
	script
		include ../../utils/formValidation.js
