extends ../layout
block content
  h1.my-3= campground.title 
  .row.mt-3.gx-5
    .col-md-6
      h2 #{campground.location.city}, #{campground.location.state}
      img(src=`${campground.image}`, alt="image of a campground").mw-100
      p Price: $#{campground.price} per night
      p #{campground.description}
      div
        a(role="button" href=`/campgrounds/${campground._id}/edit`).btn.btn-primary  Edit
        form(action=`/campgrounds/${campground._id}?_method=DELETE`, method="POST")
          button(type="submit").btn.btn-danger Delete
    .col-md-6
      h2 Reviews
      .new-review-form.card
        .card-body 
          h4 Share your experience at #{campground.title}
          form(action=`/campgrounds/${campground._id}/reviews` method="POST")
            .col-sm-4
              label(for="rating").form-label Rating 
              input(type="range", name="review[rating]" min="1" max="5" id="rating").form-range
            label(for="review-body").form-label Review
            textarea(name="review[body]", cols="30", rows="4" id="review-body").form-control.mb-3
            button(type="submit").btn.btn-primary Submit